#console
  span.label Background Color: 
  input#backgroundColorPicker(type='text')
  hr
  span.label Width:
  #widthSldr.slider
  hr
  span.label Text Color: 
  input#colorPicker(type='text')
  br
  span.label Font Size:
  #fontSizeSldr.slider
  span.label Line Height:
  #lineHeightSldr.slider
  span.label Letter Spacing:
  #letterSpacingSldr.slider
  hr